<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" sizes="32x32" type="image/png" href="{{ site.baseurl }}favicon.png">
  <link rel="icon" sizes="18x18" type="image/png" href="{{ site.baseurl }}img/icon18.png">
  <link rel="icon" sizes="36x36" type="image/png" href="{{ site.baseurl }}img/icon36.png">
  <link rel="icon" sizes="48x48" type="image/png" href="{{ site.baseurl }}img/icon48.png">
  <link rel="icon" sizes="64x64" type="image/png" href="{{ site.baseurl }}img/icon64.png">
</head>
