---
  layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">You've upgraded Live Stream Notifier</h1>
  </header>
  <article class="post-content">
    <p>Wait, don't just close this tab. If you don't want to see the changes when the add-on updates, just uncheck the "Open a tab with update info after an update" setting.</p>
    <h2>Changes in {{ page.version }}:</h2>
    {% capture release %}{{ page.github.releases || where "tag_name",page.version }}{% endcapture %}
    {% if release != nil %}
      {{ release.body | markdownify }}
    {% endif %}
    {{ content }}
    {% if release.draft %}
        <em>This version is still a draft, so it might be broken!</em>
    {% endif %}
    <h2>This version still can't do this nice thing!</h2>
    <p>I guess I've forgot to add it then. Remind me via <a href="mailto:{{ site.email }}" rel="author">e-Mail</a> or <a href="https://twitter.com/{{ site.twitter_username }}" title="@{{ site.twitter_username }}" rel="author">Twitter</a>.</p>
    <h2>Enjoy the extension?</h2>
    <p>Since you've already had the extension installed you seem to like the extension. It would be great if you would recommend the extension to your friends or watchers! <a href="https://addons.mozilla.org/en-US/firefox/addon/justintv-stream-notificatio/reviews/add">Leaving a review on AMO</a> is also a great way to tell me what you like and what you dislike!</p>
  </article>
</div>

